<%= form_for(@order) do |f| %>
 

  <div class="form-inputs">
  	<%#= hidden_field_tag "order[contributor_ids][]", nil %>
    <% @prac.each do |contributor| %>

      <%= check_box_tag "order[contributor_ids][]", contributor.id, @order.contributor_ids.include?(contributor.id), id: dom_id(contributor) %>
      
      <%= label_tag dom_id(contributor), contributor %>

    <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
