<%= form_for(@order) do |f| %>
 

  <div class="form-inputs">
  	<%#= hidden_field_tag "order[contributor_ids][]", nil %>
    

    <%# @prac.each do |contributor| %>


      <%#= check_box_tag "order[contributor_ids][]", contributor.id, @order.contributor_ids.include?(contributor.id), id: dom_id(contributor) %>

      
      <%#= label_tag dom_id(contributor), contributor %>

    <%# end %>
      <%= collection_check_boxes(:order, :contributor_ids, @prac, :id, :to_s) %> 
  </div>

  <div class="form-actions">
    <%= f.button "Dodaj pracownika", class: 'btn btn-success', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Dodawanie pracownika..."} %>
  </div>
<% end %>
