<h4>Wniosek nieprawidłowo wypełniony?</h4>

<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :kordkom %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>