

  <div class="form-inputs">
    <%= object.input :email, required: true, autofocus: true %>
    <%= object.input :password, required: true %>
    <%= object.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= object.button :submit %>
  </div>
