<h1>Twoje wnioski</h1>


<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Użytkownik</th>
      <th colspan="3">Status</th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |o| %>
    <tr>
      <td><%= link_to o.id, o %></td>
      <td><%= o.user.email %></td>
      <td><%= o.status %></td>
    </tr>
  <% end %>
  </tbody>
</table>



<br>
